<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Matthew App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <img src="../assets/IMG_20230405_0003.jpg">
      <ion-card-title>Matthew App</ion-card-title>
      <ion-card-subtitle>Practicing Ionic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        Here's a sideways photo of my wife and I.
    </ion-card-content>
  </ion-card>

  

</ion-content>
